body { background: #e9f0f5;
      font-family: sans-serif; }
form { max-width: 350px; 
     margin: 40px auto;
      padding: 20px; 
      background: #fff; 
      border-radius: 10px; }
input { width: 100%;
      padding: 10px;
       margin: 10px 0; }
input[type="submit"]
 { background: green;
      color: white; 
      border: none; }
h2 { text-align: center; }